<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

<!--<p><%= @apiKey.open %></p>-->
<!--<p><%= @apiKey.secret %></p>-->
<!--<p><%= @quote.inspect %></p>-->

<% @history.each do |history| %>
  <ul>
    <li><%= history.exchange %></li>
    <li><%= history.type %></li>
    <li><%= history.quantity %></li>
    <li><%= history.remaining %></li>
    <li><%= history.price %></li>
    <li><%= history.total %></li>
    <li><%= history.fill %></li>
    <li><%= history.limit %></li>
    <li><%= history.executed_at %></li>
  </ul>
<% end %>