<%= form_with(model: api_key, local: true) do |form| %>
  <% if api_key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_key.errors.count, "error") %> prohibited this api_key from being saved:</h2>

      <ul>
      <% api_key.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :api_key_name %>
  </div>

  <div class="field">
    <%= form.label :sort %>
    <%= form.number_field :sort, id: :api_key_sort %>
  </div>

  <div class="field">
    <%= form.label :open %>
    <%= form.text_field :open, id: :api_key_open %>
  </div>

  <div class="field">
    <%= form.label :secret %>
    <%= form.text_field :secret, id: :api_key_secret %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :api_key_user_id %>
  </div>

  <div class="field">
    <%= form.label :exchange_id %>
    <%= form.text_field :exchange_id, id: :api_key_exchange_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
