<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @api_key.name %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @api_key.sort %>
</p>

<p>
  <strong>Open:</strong>
  <%= @api_key.open %>
</p>

<p>
  <strong>Secret:</strong>
  <%= @api_key.secret %>
</p>

<p>
  <strong>User:</strong>
  <%= @api_key.user %>
</p>

<p>
  <strong>Exchenge:</strong>
  <%= @api_key.exchange %>
</p>

<%= link_to 'Edit', edit_api_key_path(@api_key) %> |
<%= link_to 'Back', api_keys_path %>
